ibraheem
accounts/__pycache__
accounts/migrations
boldbase/__pycache__
boldbase/migrations
boldcom/__pycache__
db.sqlite3
.env
media
carts/__pycache__
carts/migrations
category/__pycache__
category/migrations
orders/__pycache__
orders/migrations
sent_emails
store/__pycache__
store/migrations